<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dragonQuestEngine" type="DragonQuestWFA.Engine.DragonQuestEngineConfigurationSection,
             DragonQuestWFA.Engine"/>
  </configSections>
  <dragonQuestEngine>
    <modules>
      <add name="CharactorDieState" 
           type="DragonQuestWFA.Engine.CharactorDieState,DragonQuestWFA.Engine"/>
      <add name="CharactorVictoryState" 
           type="DragonQuestWFA.Engine.CharactorVictoryState,DragonQuestWFA.Engine"/>
      <add name="DropItemState" 
           type="DragonQuestWFA.Engine.DropItemState,DragonQuestWFA.Engine"/>
      <add name="MonsterDieState" 
           type="DragonQuestWFA.Engine.MonsterDieState,DragonQuestWFA.Engine"/>
      <add name="MonsterVictoryState" 
           type="DragonQuestWFA.Engine.MonsterVictoryState,DragonQuestWFA.Engine"/>
      <add name="RaiseExpState" 
           type="DragonQuestWFA.Engine.RaiseExpState,DragonQuestWFA.Engine"/>
      <add name="BattleState"
           type="DragonQuestWFA.Engine.BattleState,DragonQuestWFA.Engine"/>
    </modules>
  </dragonQuestEngine>
  <appSettings>
    <add key="CharactorNameSpace" value="DragonQuestWFA.Charactor"/>
    <add key="MonsterNameSpace" value="DragonQuestWFA.Monster"/>
    <add key="MapNameSpace" value="DragonQuestWFA.Map"/>
    <add key="CharactorPropertyXmlPath" value="../../XmlFiles/CharactorProperty.xml"/>
    <add key="MonsterPropertyXmlPath" value="../../XmlFiles/MonsterProperty.xml"/>
    <add key="MapPropertyXmlPath" value="../../XmlFiles/MapProperty.xml"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
